@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet');

html {
  font-size: 62.5%; /* =10px */
}

@media screen and (min-width: 0px) {
  html {
    font-size: 7px;
  }
}

@media screen and (min-width: 350px) {
  html {
    font-size: 7.5px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 8px;
  }
}

@media screen and (min-width: 900px) {
  html {
    font-size: 8.5px;
  }
}

@media screen and (min-width: 1300px) {
  html {
    font-size: 9.5px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 10px;
  }
}

@media screen and (min-width: 1800px) {
  html {
    font-size: 10.5px;
  }
}

body {
  background-color: #fffaf0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.using-mouse :focus {
  outline: none;
}
